[submodule "libogg"]
	path = libogg
	url = ../libogg.git
[submodule "libvorbis"]
	path = libvorbis
	url = ../libvorbis.git
[submodule "libtheora"]
	path = libtheora
	url = ../libtheora.git
[submodule "glib"]
	path = glib
	url = ../glib.git
[submodule "gstreamer"]
	path = gstreamer
	url = ../gstreamer.git
